* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: rgb(82, 5, 155);
}
.loader {
  display: flex;
  justify-content: space-evenly;
  gap: 15px;
}

.loading {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #fff;
  animation: animate 0.8s ease infinite;
}
.one {
  animation-delay: 0.2s;
}
.two {
  animation-delay: 0.3s;
}
.three {
  animation-delay: 0.4s;
}
.four {
  animation-delay: 0.5s;
}

@keyframes animate {
  0% {
    width: 30px;
    height: 30px;
  }
  50% {
    width: 20px;
    height: 20px;
  }
}
